*,
*::before,
*::after {
  box-sizing: border-box;
  position: relative;
  margin: 0;
  padding: 0;
}

.Board {
  border-collapse: collapse;
  display: inline-block;

  .is-overlayMode & {
    position: absolute;
    left: 0;
  }

  td {
    height: 32px;
    width: 32px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.4);
  }

  tr:nth-child(odd) {
    td:nth-child(even) {
      background: rgba(55, 124, 210, 0.8);
    }
  }

  tr:nth-child(even) {
    td:nth-child(odd) {
      background: rgba(55, 124, 210, 0.8);
    }
  }
}

.Moves {
  border-collapse: collapse;
  font-family: sans-serif;
  padding-bottom: 1em;

  thead {
    background: #454545;
    color: white;
    font-size: 0.8em;
  }

  tbody > tr:nth-child(odd) {
    background: #efefef;
  }

  th,
  td {
    padding: 0.25em 0.5em;
  }
}

.NumberCell {
  text-align: right;
}

.Controls {
  position: fixed;
  background: #efefef;
  top: 0;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em;
  z-index: 1;
}

.StateList {
  padding-top: 50px;
}

.StateList-item {
  margin: 0.5em;
}
